@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Below will be a list of genres to choose from and view the topics posted by others</p>
</div>

<a asp-action="RedirectToGenre" asp-route-genre="Technology">Technology</a>


